# C files
*.o
*.bak

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

*.json
*.DS_store

# Directories
.vscode
.idea
cmake-build-debug
cmake-build-debug-with-address-sanitizer
cmake-build-debug-with-ub-sanitizer
docker-cmake-build-debug
