# C files
*.o
*.bak

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

*.json

# Directories
.vscode
.idea
cmake-build-debug
cmake-build-debug-with-address-sanitizer
cmake-build-debug-with-ub-sanitizer
bnfc_generated
docs
old
